body {
  margin: 0;
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1 {
  margin-left: 10px;
  color: dodgerblue;
}
ul {
  padding-inline-start: 0px;
}
li {
  list-style-type: none;
  background-color: lightblue;
  margin: 10px;
  padding: 10px;
  width: 270px;
  border: 1px dotted blue;
  text-decoration: none;
  border-radius: 10px;
}
li:hover {
  background-color: dodgerblue;
  cursor: pointer;
}

.linija {
  text-decoration: line-through;
}

button {
  background-color: dodgerblue;

  border-radius: 10px;

  font-size: 22px;
  margin: 10px;
  padding: 10px;
  width: 290px;
}
button:hover {
  background-color: lightblue;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

input {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;

  width: 270px;
}

.radio {
  width: auto;
}
