* {
  box-sizing: border-box;
  margin: 0;
}

div {
  background-color: aquamarine;
  width: 300px;
  height: 100px;
  border: 1px solid black;
}

#d2 {
  position: relative;

  top: 50px;
  left: 35px;
}

#d2 span {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: azure;
}

#d2 p {
  position: absolute;
  top: 0;
  left: 0;
  background-color: blanchedalmond;
}
